ipykernel==6.9.1
ipython==7.16.3
ipython-genutils==0.2.0
#jedi==0.17.0
#Jinja2==3.0
#jsonschema==3.2.0
jupyter-client==7.1.2
jupyter-core==4.11.2
minio==7.0.0
nbclient==0.5.1
nbconvert==6.5.1
nbformat==5.1.2
papermill==2.3.4
prompt-toolkit==3.0.5
pyarrow==0.17.0
pyzmq==19.0.1
requests==2.25.1
tornado==6.1.0
traitlets==4.3.3
urllib3==1.26.5
zebra===0.1.32
