{
  "type": "object",
  "properties": {
    "name": {
      "title": "Pipeline Name",
      "type": "string",
      "uihints": {
        "ui:readonly": true
      }
    },
    "runtime": {
      "title": "Pipeline Runtime",
      "type": "string",
      "uihints": {
        "ui:readonly": true
      }
    },
    "description": {
      "title": "Pipeline Description",
      "type": "string",
      "uihints": {
        "ui:placeholder": "Pipeline Description",
        "ui:widget": "textarea"
      }
    },
    "pipeline_defaults": {
      "title": "Default Properties",
      "type": "object",
      "properties": {
        "cos_object_prefix": {
          "title": "Object Storage path prefix",
          "type": "string",
          "description":
            "For generic components, this path prefix is used when storing artifacts on Object Storage.",
          "uihints": {
            "ui:placeholder": "project/subproject"
          }
        },
        "node_defaults_header": {
          "type": "null",
          "title": "Node Defaults",
          "description":
            "Default values are applied to all nodes in this pipeline and can be customized in each node.",
          "uihints": {
            "ui:field": "header"
          }
        },
        "kubernetes_tolerations": {
          "title": "Kubernetes Tolerations",
          "description":
            "Kubernetes tolerations to attach to the pod where the node is executed.",
          "type": "array",
          "items": {
            "type": "string"
          },
          "uihints": {
            "items": {
                "ui:placeholder": "TOL_ID=key:operator:value:effect"
            },
            "keyValueEntries": true
          }
        },
        "mounted_volumes": {
          "title": "Data Volumes",
          "description":
            "Volumes to be mounted in all nodes. The specified Persistent Volume Claims must exist in the Kubernetes namespace where the nodes are executed or the pipeline will not run.",
          "type": "array",
          "items": {
            "type": "string"
          },
          "uihints": {
            "items": {
                "ui:placeholder": "/mount/path=pvc-name"
            },
            "keyValueEntries": true
          }
        },
        "kubernetes_pod_annotations": {
          "title": "Kubernetes Pod Annotations",
          "description":
            "Metadata to be added to this node. The metadata is exposed as annotation in the Kubernetes pod that executes this node.",
          "type": "array",
          "items": {
            "type": "string"
          },
          "uihints": {
            "items": {
                "ui:placeholder": "annotation_key=annotation_value"
            },
            "keyValueEntries": true
          }
        },
        "generic_node_defaults_header": {
          "type": "null",
          "title": "Generic Node Defaults",
          "description":
            "Default values are applied to all generic nodes in this pipeline and can be customized in each node.",
          "uihints": {
            "ui:field": "header"
          }
        },
        "runtime_image": {
          "title": "Runtime image",
          "description": "Container image used as execution environment.",
          "type": "string"
        },
        "env_vars": {
          "title": "Environment Variables",
          "description":
            "Environment variables to be set on the execution environment.",
          "type": "array",
          "items": {
            "type": "string"
          },
          "uihints": {
            "items": {
                "ui:placeholder": "env_var=VALUE"
            },
            "keyValueEntries": true
          }
        },
        "kubernetes_secrets": {
          "title": "Kubernetes Secrets",
          "description":
            "Kubernetes secrets to make available as environment variables to this node. The secret name and key given must be present in the Kubernetes namespace where the nodes are executed or the pipeline will not run.",
          "type": "array",
          "items": {
            "type": "string"
          },
          "uihints": {
            "items": {
                "ui:placeholder": "env_var=secret-name:secret-key"
            },
            "keyValueEntries": true
          }
        },
        "custom_node_defaults_header": {
          "type": "null",
          "title": "Custom Node Defaults",
          "description":
              "Default values are applied to all custom nodes in this pipeline and can be customized in each node.",
          "uihints": {
            "ui:field": "header"
          }
        },
        "disallow_cached_output": {
          "type": "boolean",
          "title": "Disallow cached output",
          "description": "Disable caching to force node re-execution in the target runtime environment."
        }
      }
    }
  }
}
