#
# Copyright 2018-2022 Elyra Authors
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

# exclude from ANY directory
global-exclude *.ipynb
global-exclude *.py[cod]
global-exclude __pycache__
global-exclude .git
global-exclude .ipynb_checkpoints
global-exclude .DS_Store
global-exclude *.sh
global-exclude docs
global-exclude tests

# explicit includes
include CONTRIBUTING.md
include README.md
include LICENSE
include dist/*.tgz

recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include elyra/metadata/schemas *
recursive-include elyra/templates *
recursive-include elyra/static *
recursive-include etc/config/components/ *.json
recursive-include etc/config/components/kfp *.yaml
recursive-include etc/config/jupyter_notebook_config.d *.json
recursive-include etc/config/jupyter_server_config.d *.json
recursive-include etc/config/metadata/runtime-images *.json
recursive-include etc/config/metadata/component-registries *.json
recursive-include etc/config/settings/ *.json

# Include Airflow catalog connector schemas
include elyra/pipeline/airflow/provider_package_catalog_connector/airflow-provider-package-catalog.json
include elyra/pipeline/airflow/package_catalog_connector/airflow-package-catalog.json
