/** https://github.com/carbon-design-system/carbon/blob/master/packages/themes/docs/sass **/

body[data-jp-theme-light='true'] .common-canvas,
body[data-jp-theme-light='true'] .properties-wrapper {
  /** carbon--theme--v9 **/
  --interactive-01: #3d70b2;
  --ui-background: #f4f7fb;
  --ui-01: #ffffff;
  --ui-02: #f4f7fb;
  --ui-03: #dfe3e6;
  --ui-04: #8897a2;
  --ui-05: #5a6872;
  --text-01: #152935;
  --text-02: #5a6872;
  --text-03: #cdd1d4;
  --icon-01: #3d70b2;
  --link-01: #3d70b2;
  --inverse-link: #5596e6;
  --highlight: #f4f7fb;
}

body[data-jp-theme-light='false'] .common-canvas,
body[data-jp-theme-light='false'] .properties-wrapper {
  /* carbon--theme--g100 */
  --ui-background: #161616;
  --ui-01: #262626;
  --ui-02: #393939;
  --ui-03: #6f6f6f;
  --ui-04: #c6c6c6;
  --ui-05: #f4f4f4;
  --text-01: #f4f4f4;
  --text-02: #c6c6c6;
  --text-03: #6f6f6f;
  --icon-01: #f4f4f4;
  --link-01: #78a9ff;
  --inverse-link: #0f62fe;
  --highlight: #002d9c;
}

.d3-svg-background {
  fill: var(--ui-01);
}

.d3-comment-rect {
  fill: var(--ui-01);
  stroke: var(--ui-04);
  stroke-width: 1;
}
.d3-comment-selection-highlight[data-selected='yes'] {
  stroke: var(--inverse-link);
  stroke-dasharray: 5 5;
  stroke-width: 2;
  fill: transparent;
}
.d3-comment-selection-highlight-austin[data-selected='yes'] {
  stroke: var(--inverse-link);
  stroke-dasharray: none;
  stroke-width: 3;
  fill: transparent;
}
.d3-comment-text {
  fill: var(--text-02);
}
.d3-comment-entry {
  fill: var(--text-02);
}
.d3-comment-halo {
  fill: none;
  stroke: transparent;
  stroke-width: 8;
}
.d3-comment-halo:hover {
  fill: none;
  stroke: var(--inverse-link);
  stroke-width: 8;
}
.d3-comment-link {
  stroke: var(--ui-04);
  fill: none;
  stroke-width: 1;
  stroke-dasharray: 7.3;
}
.d3-comment-link-arrow-head {
  stroke: var(--ui-04);
  stroke-width: 2;
  fill: transparent;
  stroke-dasharray: 0;
}
g .d3-comment-link:hover,
g .d3-data-link:hover,
g .d3-selectable-link:hover,
g .d3-selectable-link:hover ~ .d3-selectable-link,
g .d3-link-selection-area:hover ~ .d3-selectable-link {
  stroke: var(--link-01);
}

.d3-node-body-halo {
  stroke: transparent;
  fill: transparent;
}
.d3-node-body-outline-austin {
  stroke: var(--ui-04);
  stroke-width: 1;
  fill: var(--ui-02);
}
.d3-node-body-outline-austin[hover='yes'] {
  stroke: var(--ui-03);
  fill: var(--ui-03);
}

.d3-node-label {
  fill: var(--text-01);
}
.d3-node-label-austin {
  fill: var(--text-01);
}

.d3-node-ellipsis {
  fill: var(--icon-01);
}
.d3-node-ellipsis:hover,
.d3-node-ellipsis-background:hover ~ .d3-node-ellipsis {
  fill: var(--inverse-link);
}

#canvas-toolbar {
  background-color: var(--ui-background);
  border-bottom: 2px solid var(--ui-03);
}
.toolbar-divider {
  border-right: 2px solid var(--ui-03);
}
.overflow-toolbar-divider {
  border-bottom: 1px solid var(--ui-03);
}
.overflow-toolbar-icon-label {
  color: var(--text-01);
}
.toolbar-popover-list {
  border: 2px solid var(--ui-03);
  background-color: var(--ui-background);
}
#zoom-actions-container {
  background-color: var(--ui-background);
}

.list-item-containers .list-item:hover {
  background-color: var(--ui-03);
}
.list-item-containers .list-item:active {
  background-color: var(--ui-05);
}
.palette-flyout-content .palette-list-item:active {
  background-color: var(--ui-03);
}
.palette-list-item {
  border-color: var(--ui-03);
}
.palette-list-item:hover {
  background-color: var(--ui-03);
}

body[data-jp-theme-light='false'] .bx--modal.is-visible {
  background-color: rgba(75, 75, 75, 0.65);
}
.bx--modal-container {
  background-color: var(--ui-01);
}
.bx--modal-header__heading,
.bx--modal-content {
  color: var(--text-01);
}
.bx--dropdown {
  background-color: var(--ui-01);
  border-bottom: 1px solid var(--ui-04);
  color: var(--text-01);
}
.bx--list-box__label {
  color: var(--text-01);
}
.bx--list-box__menu-icon > svg {
  fill: var(--text-01);
}
.bx--label {
  color: var(--text-01);
}
.bx--text-area::placeholder {
  color: var(--text-02);
}
.bx--text-area {
  color: var(--text-01);
}
.bx--modal .bx--text-input,
.bx--modal .bx--text-area,
.bx--modal .bx--select-input,
.bx--modal .bx--dropdown {
  background-color: var(--ui-02);
}
.bx--checkbox-label::before {
  background-color: transparent;
  border: 1px solid var(--text-01);
}
.bx--checkbox-label::after {
  border-left: 2px solid var(--ui-01);
  border-bottom: 2px solid var(--ui-01);
}
.bx--checkbox:checked + .bx--checkbox-label::before {
  background-color: var(--text-01);
}
.bx--modal-footer {
  background-color: var(--ui-01);
}
.bx--list-box__menu {
  background-color: var(--ui-02);
}
.bx--list-box__menu-item {
  color: var(--text-01);
}
.bx--list-box__menu-item--active {
  color: var(--text-01);
  border-bottom-color: var(--ui-03);
}
.bx--list-box__menu-item--highlighted {
  background-color: var(--ui-03);
}
.bx--list-box__menu-item:hover {
  background-color: var(--ui-03);
}

.common-canvas-tooltip {
  background-color: var(--ui-02);
  border: 1px solid var(--ui-03);
  color: var(--ui-05);
}
.common-canvas-tooltip #tipArrow polyline {
  fill: var(--ui-02);
}
.common-canvas-tooltip #tipArrow polygon {
  fill: var(--ui-03);
}

.context-menu-popover {
  background-color: var(--ui-02);
}
.react-contextmenu-item {
  color: var(--text-01);
}
.react-contextmenu-item:active,
.react-contextmenu-item:focus,
.react-contextmenu-item:hover {
  background: var(--ui-03);
}
.react-contextmenu-item.contextmenu-divider {
  background-color: var(--ui-03);
}
