.ewai-PythonEditor-OutputArea-error {
    background-color: var(--jp-rendermime-error-background);
}

.ewai-PythonEditor-OutputArea-child {
    border-top: 1px solid var(--jp-border-color2);
    border-bottom: 1px solid var(--jp-border-color2);
}

.ewai-PythonEditor-OutputArea-prompt {
    flex: 0 0 37px;
    border-right: 1px solid var(--jp-border-color2);
    padding: unset;
    text-align: center;
}

/*
.ewai-PythonEditor .p-DockPanel-tabBar .p-TabBar-tab.p-mod-closable > .ewai-PythonEditor-CollapseIcon { 
    background-image: url('icons/collapse.svg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: 50%;
    width: 30px;
}
*/