.jp-PythonEditor-OutputArea-error {
    background-color: #fdd
}

.jp-PythonEditor-OutputArea-child {
    border-top: 1px solid var(--jp-border-color2);
    border-bottom: 1px solid var(--jp-border-color2);
}

.jp-PythonEditor-OutputArea-prompt {
    flex: 0 0 37px;
    border-right: 1px solid var(--jp-border-color2);
    padding: unset;
    text-align: center;
}