{
  "type": "object",
  "properties": {
    {% if component.description %}
    "component_description": {
      "type": "string",
      "title": "Component Description",
      "uihints": {
        "ui:readonly": true
      }
    },{% endif %}
    "label": {
      "type": "string",
      "title": "Label",
      "description": "A custom label for the node."
    },
    "component_parameters": {
      "type": "object",
      "properties": {
        {% if component.input_properties|length > 0 %}
        "Inputs": {
          "type": "null",
          "title": "Inputs",
          "uihints": {
            "ui:field": "header"
          }
        },
        {% for property in component.input_properties %}
        "{{ property.ref }}": {{ render_parameter_details(property) }},
        {% endfor %}
        {% endif %}
        {% if component.output_properties|length > 0 %}
        "Outputs": {
          "type": "null",
          "title": "Outputs",
          "uihints": {
            "ui:field": "header"
          }
        },
        {% for property in component.output_properties %}
        "{{ property.ref }}": {{ render_parameter_details(property) }},
        {% endfor %}
        {% endif %}
        {% if additional_properties_apply %}
        "additionalproperties": {
          "type": "null",
          "title": "Additional Properties",
          "description": "Additional properties used by Elyra that are not given in the component definition.",
          "uihints": {
            "ui:field": "header"
          }
        },
        {% endif %}
        {% if "mounted_volumes" not in elyra_property_collisions_list %}
        "elyra_mounted_volumes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "title": "Data Volumes",
          "description": "Volumes to be mounted in this node. The specified Persistent Volume Claims must exist in the Kubernetes namespace where the node is executed or this node will not run.",
          "uihints": {
            "items": {
              "ui:placeholder": "/mount/path=pvc-name"
            },
          "keyValueEntries": true
          }
        },
        {% endif %}
        {% if "kubernetes_pod_annotations" not in elyra_property_collisions_list %}
        "elyra_kubernetes_pod_annotations": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "title": "Kubernetes Pod Annotations",
          "description": "Metadata to be added to this node. The metadata is exposed as annotation in the Kubernetes pod that executes this node.",
          "uihints": {
            "items": {
              "ui:placeholder": "annotation_key=annotation_value"
            },
          "keyValueEntries": true
          }
        },
        {% endif %}
        "component_source_header": {
          "type": "null",
          "title": "Component Source",
          "uihints": {
            "ui:field": "header"
          }
        },
        "component_source": {
          "type": "string",
          "title": "Component Source",
          "default": {{ component.component_source|tojson|safe }},
          "uihints": {
            "ui:readonly": true
          }
        }
      },
      "required": [
      {% for property in component.input_properties %}
        {% if property.required|lower %}
        "{{ property.ref }}"
            {% if loop.index != loop|length %}
            ,
            {% endif %}
          {% endif %}
      {% endfor %}
      ]
    }
  },
  "required": ["component_parameters"]
}
