{
  "version": "3.0",
  "categories": [
{% for component in components %}
    {
      "label": "{{ component.name }}",
      "image": "",
      "id": "{{ component.id }}",
      "description": "{{ component.description }}",
    {% if component.runtime %}
      "runtime": "{{ component.runtime }}",
    {% endif %}
      "node_types": [
        {
          "id": "",
          "op": "{{ component.op }}",
          "type": "execution_node",
          "inputs": [
            {
              "id": "inPort",
              "app_data": {
                "ui_data": {
                  "cardinality": {
                    "min": 0,
                    "max": -1
                  },
                  "label": "Input Port"
                }
              }
            }
          ],
          "outputs": [
            {
              "id": "outPort",
              "app_data": {
                "ui_data": {
                  "cardinality": {
                    "min": 0,
                    "max": -1
                  },
                  "label": "Output Port"
                }
              }
            }
          ],
          "parameters": {},
          "app_data": {
            "ui_data": {
              "label": "{{ component.name }}",
              "description": "{{ component.description }}",
              "image": "",
              "x_pos": 0,
              "y_pos": 0
            }
          }
        }
      ]
    }
    {% if loop.index != components|length %}
    ,
    {% endif %}
{% endfor %}
  ]
}
