{
  "type": "object",
  "properties": {
    "label": {
      "title": "Label",
      "description": "A custom label for the node.",
      "type": "string"
    },
    "component_parameters": {
      "type": "object",
      "properties": {
        "filename": {
          "type": "string",
          "title": "Filename",
          "description": "The path to the {{ component.name }}.",
          "uihints": {
            "ui:widget": "file",
            "extensions": {{ component.extensions|tojson }}
          }
        },
        "runtime_image": {
          "type": "string",
          "title": "Runtime Image",
          "required": true,
          "description": "Container image used as execution environment.",
          "uihints": {
            "items": []
          }
        },
        "cpu": {
          "type": "integer",
          "title": "CPU",
          "description": "For CPU-intensive workloads, you can choose more than 1 CPU (e.g. 1.5).",
          "minimum": 0
        },
        "gpu": {
          "type": "integer",
          "title": "GPU",
          "description": "For GPU-intensive workloads, you can choose more than 1 GPU. Must be an integer.",
          "minimum": 0
        },
        "memory": {
          "type": "integer",
          "title": "RAM(GB)",
          "description": "The total amount of RAM specified.",
          "minimum": 0
        },
        "dependencies": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "title": "File Dependencies",
          "description": "Local file dependencies that need to be copied to remote execution environment.",
          "uihints": {
            "items": {
              "ui:placeholder": "*.py",
              "ui:widget": "file"
            }
          }
        },
        "include_subdirectories": {
          "type": "boolean",
          "title": "Include Subdirectories",
          "description": "Recursively include subdirectories when submitting a pipeline (This may increase submission time)."
        },
        "env_vars": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "title": "Environment Variables",
          "description": "Environment variables to be set on the execution environment.",
          "uihints": {
            "ui:placeholder": "env_var=VALUE",
            "canRefresh": true,
            "keyValueEntries": true
          }
        },
        "kubernetes_secrets": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "title": "Kubernetes Secrets",
          "description": "Kubernetes secrets to make available as environment variables to this node. The secret name and key given must be present in the Kubernetes namespace where the node is executed or this node will not run.",
          "uihints": {
            "items": {
              "ui:placeholder": "env_var=secret-name:secret-key"
            },
            "keyValueEntries": true
          }
        },
        "outputs": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "title": "Output Files",
          "description": "Files generated during execution that will become available to all subsequent pipeline steps.",
          "uihints": {
            "items": {
              "ui:placeholder": "*.csv"
            }
          }
        },
        "mounted_volumes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "title": "Data Volumes",
          "description": "Volumes to be mounted in this node. The specified Persistent Volume Claims must exist in the Kubernetes namespace where the node is executed or this node will not run.",
          "uihints": {
            "items": {
              "ui:placeholder": "/mount/path=pvc-name"
            },
            "keyValueEntries": true
          }
        }
      },
      "required": ["filename", "runtime_image"]
    }
  },
  "required": ["component_parameters"]
}
