{
  "type": "object",
  "properties": {
    "label": {
      "title": "Label",
      "description": "A custom label for the node.",
      "type": "string"
    },
    "component_parameters": {
      "type": "object",
      "properties": {
        "filename": {
          "type": "string",
          "title": "Filename",
          "description": "The path to the {{ component.name }}.",
          "uihints": {
            "ui:widget": "file",
            "extensions": {{ component.extensions|tojson }}
          }
        },
        "runtime_image": {
          "type": "string",
          "title": "Runtime Image",
          "required": true,
          "description": "Container image used as execution environment.",
          "uihints": {
            "items": []
          }
        },
        "cpu": {
          "type": "integer",
          "title": "CPU",
          "description": "For CPU-intensive workloads, you can choose more than 1 CPU (e.g. 1.5).",
          "minimum": 0
        },
        "gpu": {
          "type": "integer",
          "title": "GPU",
          "description": "For GPU-intensive workloads, you can choose more than 1 GPU. Must be an integer.",
          "minimum": 0
        },
        "memory": {
          "type": "integer",
          "title": "RAM(GB)",
          "description": "The total amount of RAM specified.",
          "minimum": 0
        },
        "dependencies": {
          "title": "File Dependencies",
          "description": "Local file dependencies that need to be copied to remote execution environment.",
          "type": "array",
          "items": {
            "type": "string",
            "default": ""
          },
          "default": [],
          "uihints": {
            "items": {
              "ui:placeholder": "*.py",
              "ui:widget": "file"
            }
          }
        },
        "include_subdirectories": {
          "type": "boolean",
          "title": "Include Subdirectories",
          "description": "Recursively include subdirectories when submitting a pipeline (This may increase submission time).",
          "default": false
        },
        "outputs": {
          "title": "Output Files",
          "description": "Files generated during execution that will become available to all subsequent pipeline steps.",
          "type": "array",
          "items": {
            "type": "string",
            "default": ""
          },
          "default": [],
          "uihints": {
            "items": {
              "ui:placeholder": "*.csv"
            }
          }
        },
        "kubernetes_pod_annotations":{
               "title":"Kubernetes Pod Annotations",
               "description":" Metadata to be added to this node. The metadata is exposed as annotation in the Kubernetes pod that executes this node. ",
               "type":"array",
               "default":[

               ],
               "items":{
                  "type":"object",
                  "properties":{
                     "key":{
                        "type":"string",
                        "title":"Key",
                        "default":""
                     },
                     "value":{
                        "type":"string",
                        "title":"Value",
                        "default":""
                     }
                  },
                  "required":[
                     "key",
                     "value"
                  ]
               },
               "uihints":{
                  "items":{
                     "key":{
                        "ui:placeholder":"annotation_key"
                     },
                     "value":{
                        "ui:placeholder":"annotation_value"
                     }
                  }
               }
            },
            "kubernetes_tolerations":{
               "title":"Kubernetes Tolerations",
               "description":" Kubernetes tolerations to apply to the pod where the node is executed. ",
               "type":"array",
               "default":[

               ],
               "items":{
                  "type":"object",
                  "properties":{
                     "key":{
                        "type":"string",
                        "title":"Key",
                        "default":""
                     },
                     "operator":{
                        "type":"string",
                        "title":"Operator",
                        "default":"Equal",
                        "enum":[
                           "Equal",
                           "Exists"
                        ]
                     },
                     "value":{
                        "type":"string",
                        "title":"Value",
                        "default":""
                     },
                     "effect":{
                        "type":"string",
                        "title":"Effect",
                        "default":"",
                        "enum":[
                           "",
                           "NoExecute",
                           "NoSchedule",
                           "PreferNoSchedule"
                        ]
                     }
                  },
                  "required":[
                     "operator",
                     "effect"
                  ]
               },
               "uihints":{
                  "items":{
                     "key":{
                        "ui:placeholder":"key"
                     },
                     "value":{
                        "ui:placeholder":"value"
                     },
                     "effect":{
                        "ui:placeholder":"NoSchedule"
                     }
                  }
               }
            },
            "env_vars":{
               "title":"Environment Variables",
               "description":" Environment variables to be set on the execution environment. ",
               "type":"array",
               "default":[

               ],
               "items":{
                  "type":"object",
                  "properties":{
                     "env_var":{
                        "type":"string",
                        "title":"Environment Variable",
                        "default":""
                     },
                     "value":{
                        "type":"string",
                        "title":"Value",
                        "default":""
                     }
                  },
                  "required":[
                     "env_var"
                  ]
               },
               "uihints":{
                  "canRefresh":true
               }
            },
            "mounted_volumes":{
               "title":"Data Volumes",
               "description":" Volumes to be mounted in this node. The specified Persistent Volume Claims must exist in the Kubernetes namespace where the node is executed or this node will not run. ",
               "type":"array",
               "default":[

               ],
               "items":{
                  "type":"object",
                  "properties":{
                     "path":{
                        "type":"string",
                        "title":"Mount Path",
                        "default":""
                     },
                     "pvc_name":{
                        "type":"string",
                        "title":"Persistent Volume Claim Name",
                        "default":""
                     }
                  },
                  "required":[
                     "path",
                     "pvc_name"
                  ]
               },
               "uihints":{
                  "items":{
                     "path":{
                        "ui:placeholder":"/mount/path"
                     },
                     "pvc_name":{
                        "ui:placeholder":"pvc-name"
                     }
                  }
               }
            },
            "kubernetes_secrets":{
               "title":"Kubernetes Secrets",
               "description":" Kubernetes secrets to make available as environment variables to this node. The secret name and key given must be present in the Kubernetes namespace where the node is executed or this node will not run. ",
               "type":"array",
               "default":[

               ],
               "items":{
                  "type":"object",
                  "properties":{
                     "env_var":{
                        "type":"string",
                        "title":"Environment Variable",
                        "default":""
                     },
                     "name":{
                        "type":"string",
                        "title":"Secret Name",
                        "default":""
                     },
                     "key":{
                        "type":"string",
                        "title":"Secret Key",
                        "default":""
                     }
                  },
                  "required":[
                     "env_var",
                     "name",
                     "key"
                  ]
               },
               "uihints":{
                  "items":{
                     "env_var":{
                        "ui:placeholder":"ENV_VAR"
                     },
                     "name":{
                        "ui:placeholder":"secret-name"
                     },
                     "key":{
                        "ui:placeholder":"secret-key"
                     }
                  }
               }
            }
        },
      "required": ["filename", "runtime_image"]
    }
 },
  "required": ["component_parameters"]
}
