.elyra-metadataEditor .jp-InputGroup {
  width: 100%;
}

.elyra-metadataEditor .bp3-form-group {
  margin-bottom: 12px;
  margin-right: 20px;
  flex-basis: 40%;
  height: 65px;
}

.bp3-select-popover {
  max-height: 150px;
  overflow-y: auto;
}

.elyra-form-DropDown-item {
  width: 100%;
  display: flex;
  justify-content: left;
  margin: 0;
  border-radius: 0;
}

.elyra-metadataEditor {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  align-content: flex-start;
  align-items: flex-start;
  justify-content: flex-start;
}

.elyra-metadataEditor h3 {
  flex-basis: 100%;
  margin-bottom: 15px;
  color: var(--jp-ui-font-color1);
}

.elyra-metadataEditor label.bp3-label {
  color: var(--jp-ui-font-color1);
}

.elyra-metadataEditor .elyra-form-code.jp-CodeMirrorEditor {
  background-color: var(--jp-cell-editor-background);
  border: var(--jp-border-width) solid var(--jp-input-border-color);
  overflow-y: auto;
  resize: vertical;
  height: 200px;
  padding-bottom: 10px;
  cursor: initial;
}

.elyra-metadataEditor .CodeMirror.cm-s-jupyter {
  background-color: inherit;
  height: 100%;
}

.elyra-metadataEditor .bp3-form-group.elyra-metadataEditor-code {
  height: auto;
  flex-basis: 100%;
  display: flex;
}

.elyra-metadataEditor-code .bp3-form-content {
  height: 100%;
}

.bp3-dark .bp3-input {
  border: var(--jp-border-width) solid var(--jp-input-border-color);
  color: var(--jp-ui-font-color1);
}

.elyra-metadata-editor {
  overflow-y: auto;
}

.elyra-metadata-editor.bp3-dark {
  background-color: var(--jp-border-color3);
}
